@use '../variables' as *;

.pattern-cover-6{
    color: var(--wp--preset--color--contrast);
    min-height: 430px;
    overflow: visible;
    margin-bottom: 100px;
    .wp-block-cover__inner-container{
        text-align: center;
        margin: 0 auto !important;
        @media (min-width: $desktop-min) {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            width: 80%;
            max-width: 1500px;
            text-align: left;
        }
    }
    p{
        font-size: clamp(1.5rem, 3vw, 2.25rem);
        font-family: Raleway;
        font-weight: 300;
    }
    .wp-block-group{
        width: 100%;
        > * {
            width: 730px;
            max-width: 100%;
        }
    }
    .wp-block-image{
        width: 100%;
        @meida (max-width: $mobile-max) {
            display: none;
        }
    }
}