@use '../variables' as *;
.pattern-carousel-3{
    .wp-block-image{
        @media (min-width: $tablet-min) {
            padding-left: 360px; 
        }
        img{
            width: 100%;
        }
    }
    > .wp-block-group{
        @media (max-width: $mobile-max) {
            flex-direction: column;
        }
        @media (min-width: $tablet-min) {
            text-align: left;
        }
    }
    .wp-block-englemond-selection{
        width: 600px;
        max-width: 100%;
        @media (min-width: $tablet-min) {
            margin-top: -250px;;
        }
    }
    > .wp-block-group{
        gap: clamp(1rem, 3vw, 4rem);
        align-items: start;
        @media (min-width: $tablet-min) {
            .wp-block-group{
                padding-top: 3rem;
            }
        }
    }
    p{

        font-family: Raleway;
        font-weight: 300;
        line-height: 1.16;
        font-size: clamp(1.5rem, 4vw, 3rem);
    }
    &:nth-child(even){
        .wp-block-image{
            @media (min-width: $tablet-min) {
            padding-left: 0;
            padding-right: 360px;
            }
        }
        > .wp-block-group{
            @media (min-width: $tablet-min) {
                flex-direction: row-reverse;
            }
        }
        .wp-block-englemond-selection__carousel-viewport{
            background: linear-gradient(-90deg, #FFF 0%, #FFF 50%, #F2F2F2 50%, #F2F2F2 100%);
        }
    }
    
}
