@use '../variables' as *;

.pattern-cover-6{
    min-height: 430px;
    padding-bottom: 0;
    overflow: visible;
    margin-bottom: 100px;
    .wp-block-cover__inner-container{
        padding-bottom: 2rem;
        @media (min-width: $desktop-min) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        max-width: 1500px;
        width: 80%;
        
        align-items: center;
        gap: 2rem;
        flex-direction: row;
        margin: 0 auto !important;
    }
    .wp-block-image{
        img{
            transform: translate(0, 50%);
            box-shadow: 21px 21px 3px 1px rgba(234, 196, 196, 1);
            width: 360px !important;
            max-width: 80vw;
            object-fit: cover;
            height: 200px;
        }
    }
}