.pattern-section-9{
    min-height: 500px;
    .wp-block-cover__image-background{
        left: 45%;
        right: 0;
        top: 0;
        bottom: 30%;
        height: 70%;
        width: 55%;
    }
    .wp-block-cover__inner-container{
        padding: 2rem;
    }
    p, h1, h2, h3{
        margin-left: 10%;
        width: 720px;
        max-width: 80%;
    }
}
    