
@use '../variables' as *;

.pattern-cover-9{
    min-height: 500px;
    background-image: linear-gradient(90deg, rgba(244, 240, 240, 1) 0%, rgba(244, 240, 240, 1) 23%, rgba(249, 249, 249, 1) 23.1%, rgba(255, 255, 255, 1) 24%, rgba(255, 255, 255, 1) 25%, rgba(249, 249, 249, 1) 25.1%, rgba(249, 249, 249, 1) 100%);
    @media (min-width: $tablet-min) {
        .wp-block-cover__background, 
        .wp-block-cover__image-background
        {
            left: 40%;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 60%;
        }
    }
    p{
        color: #707070;
    }
}