.pattern-cover-2{
    .wp-block-image{
        transform: translate(-100px,50px);
    }
    .wp-block-cover__inner-container{
        padding-left: 10%;
    }
    p{
        font-size: clamp(1.5rem, 3vw, 2.25rem);
    }
    h1{
        font-size: clamp(2.25rem, 5vw, 3.375rem);
    }
}

