# Ignore everything by default
/*

# But keep the root directory structure
!/.gitignore
!/.git/
!/wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/englemond/


!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/plugins/englemond-products/
!/wp-content/plugins/url-replacer/

node_modules/