# Ignore everything by default
/*

# But keep the root directory structure
!/.gitignore
!/.git/

# Ignore all themes except englemond
!/wp-content/themes/englemond/

!/wp-content/plugins/englemond-products/
