section.wp-block-group{
    padding-top: clamp(40px, 8vw, 100px);
    padding-bottom: clamp(40px, 8vw, 100px);
}

strong{
    font-weight: 700;
}
.wp-site-blocks > * {
    margin-top: 0;
    margin-bottom: 0;
}