.is-style-style-1.wp-block-englemond-selection{
    .wp-block-englemond-selection{
        &__carousel{
            --control-size: 2rem;
            padding-top: calc(var(--control-size) + 10px);
            padding-right: calc(var(--control-size) *2 + 20px);
            position: relative;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: calc(100% - var(--control-size) *2);
                height: calc(100% - var(--control-size));
                background-color: #F9F9F9;
            }
            &:after{
                content: '';
                position: absolute;
                top: var(--control-size);
                right: calc(var(--control-size) *2 + 20px);  
                left: 0;
                bottom: 0;
                background-color: #F2F2F2;
            }
            &-inner{
                position: relative;
                z-index: 2;
            }
            &-controls{
                display: flex;
                flex-direction: row;
                position: absolute;
                bottom: 0;
                right: 0;
                height: auto;
                background-color: transparent;
                

            }
            
        }
        &__item-link{
            
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 20px;
            padding: clamp(10px, 3vw, 40px);

            img{
                width: 200px;
                flex-shrink: 0;
            }
        }
        &__item-title{
            font-size: var(--wp--preset--font-size--extra-large);
            font-family: 'Raleway', sans-serif;
            font-weight: 300;
        }
    }
    &.has-align-left{

        .wp-block-englemond-selection__item-link{
            flex-direction: row;
        }
        .wp-block-englemond-selection__carousel{
            padding-right: 0;
            padding-left: calc(var(--control-size) *2 + 20px);
            &:before{
                right: auto;
                left: 0;
            }
            &:after{
                right: 0;
                left: calc(var(--control-size) *2 + 20px);
            }
        }
        .wp-block-englemond-selection__carousel-controls{
            right: auto;
            left: 0;
        }
    }
    &.has-align-right{
        .wp-block-englemond-selection__item-link{
            flex-direction: row-reverse;
        }
    }
    @media (max-width: 768px) {
        .wp-block-englemond-selection__item-link{
            flex-direction: column !important;
            text-align: center !important;
        }
    }
}