.wp-block-cover.is-style-left{
    color:var(--wp--preset--color--contrast);
    min-height: 430px;
    .wp-block-cover__inner-container{
        display: grid;
        max-width: 1500px;
        width: 80%;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 2rem;
        flex-direction: row;
        margin: auto !important;
    }
    p{
        font: 300 48px/56px 'Raleway';

    }
    h1{
        font: normal 66px/88px 'Playfair Display'
    }
}