$screen-desktop:    782px;
.is-style-section-2 {
    background:#FFFFFF url(../scss/img/nc.svg)  left top no-repeat;
    @media (min-width: $screen-desktop){
        .wp-block-media-text, .wp-block-columns{
            margin-top: calc(-1 * clamp(50px, 10vw, 150px));
        }
    }
}

.has-bg-motif-1{
    padding-top: 100px;
    padding-bottom: 100px;
    background:#FFFFFF url(../scss/img/bg-house.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}