.is-style-section-3 {
    .wp-block-gallery{
        margin-top: -60px;
    }
    .wp-block-cover__image-background{
        left: auto;
        right: 0;
        width: auto;
        height: 100%;
    }
}