@media (max-width: 780px){
    .is-style-nav-header{
        padding-left: 0 !important;
        padding-right: 0 !important;
    
        ul,
        li,
        .wp-block-navigation__submenu-container,
        .wp-block-navigation__responsive-container.is-menu-open{
                width: 100% !important;
                margin: 0 !important;
                padding: 0 !important;
                background-color: #FFF !important;
        }
        li{
            display: block !important;
        }
        .wp-block-navigation-submenu__toggle{
            position: sticky;
            z-index: 10;
            width: 100% !important;
            background-color: #FFF !important;
            top: 60px;
        }
        .wp-block-navigation-item__label{
            width: 100%;
        }
        .wp-block-navigation-item__content{
            display: flex;
            gap: 10px;
            width: calc(100% - 40px);
            padding: 5px 20px !important;
            flex-direction: row; 
            justify-content: start;
            img{
                width: 20px;
                height: 20px;
                flex-shrink: 0;
            }
            flex-direction: row; 
            align-items: center;
            justify-content: start;
        }
        .wp-block-navigation__submenu-container{
            font-family: 'Raleway', sans-serif !important;
        }
        button:not(:focus) ~ .wp-block-navigation__submenu-container{
            max-height: 0 !important;
            transition: all 0.3s ease-in-out !important;
            overflow: hidden !important;
            opacity: 0 !important;
        }
        .is-style-panorama-subitem-panorama__preview{
            display: none;
        }
        .wp-block-navigation__responsive-container-content{
            padding-top: 0 !important;
        } 
        .wp-block-navigation__responsive-container-close{
            position: sticky !important;
            top: 0;
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 20px;
            background-color: #FFF;
            border-bottom: 1px solid #CCC;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            &:before{
                content: '';
            }
        }
        
        .has-image{
            display: flex !important;
            align-items: center !important;
            gap: 10px !important;
            img{
                flex-shrink: 0;
                width: 30px;
                height: 30px;
                object-fit: contain;
            }
        }
    }
}