@use '../variables' as *;
@media (max-width: $mobile-max){
    .is-style-nav-header{
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: center;
        ul,
        li,
        .wp-block-navigation__submenu-container,
        .wp-block-navigation__responsive-container.is-menu-open{
                width: 100% !important;
                margin: 0 !important;
                padding: 0 !important;
                background-color: #FFF !important;
        }
        li{
            display: block !important;
        }
        .wp-block-navigation-submenu__toggle{
            z-index: 10;
            text-align: center;
            width: 100% !important;
            background-color: #FFF !important;
        }
        .wp-block-navigation-item__label{
            width: 100%;
        }
        .wp-block-navigation-item__content{
            display: flex;
            
            gap: 10px;
            width: calc(100% - 40px);
            padding: 5px 20px !important;
            flex-direction: row; 
            justify-content: start;
            img{
                width: 20px;
                height: 20px;
                flex-shrink: 0;
            }
            flex-direction: row; 
            align-items: center;
            justify-content: start;
            
        }
        .wp-block-navigation__submenu-container{
            text-align: left;
            font-family: 'Raleway', sans-serif !important;
        }
        .submenu-is-open{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #FFF !important;
            z-index: 100;
            .wp-block-navigation__submenu-container{
                max-height: 100% !important;
                opacity: 1 !important;
                overflow: auto !important;
                background-color: #FFF !important;
            }
            .wp-block-navigation-submenu__toggle{
                &:before{
                    position: absolute;
                    top: -60px;
                    left: 0;
                    width: 60px;
                    line-height: 1;
                    content: ' ← ';
                    font-size: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }
            }
        }
        .wp-block-navigation__submenu-container{
            max-height: 0 !important;
            transition: all 0.3s ease-in-out !important;
            overflow: hidden !important;
            opacity: 0 !important;
        }
        .is-style-panorama-subitem-panorama__preview{
            display: none;
        }
        .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item, .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item .wp-block-navigation__submenu-container{
            background-color: #FFF !important;
        }
        .wp-block-navigation__responsive-container-content{
            padding-top: 0 !important;
            position: absolute;
            top: 60px;
            height: calc(100% - 60px);
            overflow: auto;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #FFF;
            > ul{
                position: relative;
            }
        } 
        .wp-block-navigation__responsive-container-close{
            height: 60px;
            width: 60px;
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FFF;
            &:before{
                content: '';
            }
        }
        
        .has-image{
            display: flex !important;
            align-items: center !important;
            gap: 10px !important;
            img{
                flex-shrink: 0;
                width: 30px;
                height: 30px;
                object-fit: contain;
            }
        }
    }
}